#container {
    display: flex;
    width: 100vw;
    height: 100vh;

    aside {
        width: 200px;
        background: #3177ba;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    header {
        height: 60px;
        background: aqua;
    }

    main {
        flex: 1;
    }
}